$pxl_black: #030203;
$white: #fff;
$pxl_green: #58a518;
$pxl_green_40: rgb(88, 165, 24, 0.4);

table {
  width: 100%;
}

strong{
  font-weight: 600;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

