.title {
  font-size: 1rem;
  font-weight: 500;
  min-height: 100%;
}

.tab-content {
  margin-top: 3em;
}

.tab-container {
  padding: 0 10px;
  margin: 0 auto;
}

.cards-container {
  margin-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-card {
  flex: 0 1 calc(50% - 0.5em);
  margin-bottom: 2.5em;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.spacer {
  flex: 1;
}

.mail-buttons button {
  margin-right: 10px;
}

.approval-buttons button {
  margin-right: 10px;
}

.button-container {
  flex-shrink: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-class {
  flex: 1 0 auto;
}

.warning {
  color: orangered;
  font-size: 0.75rem;
  font-weight: 400;
  width: 40rem;
  text-align: right;
}

.no-scrollbar {
  overflow: hidden;
}

// Check if pdf button is deleted if this is still needed here.
.disable-background {
  background: #bababa50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.spinner {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-raised-button {
  color: #030203;
}

.mat-raised-button:hover {
  background-color: rgb(88, 165, 24, 0.4);
}
