mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
button {
  padding: 0.3rem 2.5rem;
  align-items: center;
  justify-content: center;
}

.google {
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
}