<div class="pt-4 px-4 pb-2 mt-4 mx-4">
    <div class="d-flex flex-column justify-content-between mx-4">
        <h2 class="pb-4">Bepaal de rangschikking van de kolommen in de CSV-file</h2>
        <h3>Actuele rangschikking</h3>
        <table>
            <thead>
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let property of actualOrderArray">{{property}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex flex-column gap-2 mx-3">
        <div cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
            <h2 class="mt-5 ms-2">Nieuwe rangschikking</h2>
            <div class="property-box" id="box{{i}}" *ngFor="let columnName of columnNames; let i = index" cdkDrag>
                <b>{{columnName}}</b>{{newOrderArray[i]}}<p [hidden]="true">
                    {{propertyIndexArray[i]}}</p>
            </div>
        </div>
        <div class="d-flex my-4 justify-content-end gap-2 me-2">
            <button class="btn btn-primary btn-sm d-flex
            justify-content-center align-items-center my-2 px-3" (click)="saveOrder()">Wijziging opslaan</button>
            <button class="btn btn-primary btn-sm d-flex
            justify-content-center align-items-center my-2 px-3" (click)="goBack()">Sluiten</button>
        </div>
    </div>
</div>