<div class="pt-4 px-4 pb-2 mt-4 mx-4">
  <div class="d-flex flex-column justify-content-between mx-4">
    <h2 class="pb-3">Instellingen</h2>

    <div>
      <div class="d-flex gap-4">
        <p>
          Huidige sheet:
          <span>{{ selectedSheetId }}
            <strong class="ps-2">{{ selectedSheetTitle }}</strong></span>
        </p>
      </div>
      <div class="d-flex justify-content-start align-items-center">
        <p>Andere sheet selecteren:</p>
        <select class="mx-4">
          <option *ngFor="let sheet of sheets$ | async" [value]="sheet">
            {{ sheet.name.substring(0, sheet.name.indexOf(".")) }}
          </option>
        </select>
      </div>
      <div>
        <button (click)="selectFile(); export()" class="btn btn-primary btn-sm mt-3" [disabled]="isButtonDisabled">
          Selecteer bestand
        </button>
      </div>
    </div>

    <div class="database my-2">
      <h3 class="pt-4 dataTitle">Database - acties</h3>
      <div class="form-group mt-2 d-flex gap-2">
        <input #inputFile class="form-control" type="file" (change)="onChange($event)" />
        <button (click)="onUpload()" class="btn btn-primary btn-sm" [disabled]="!file">
          Import
        </button>
        <button (click)="downloadFile()" class="btn btn-primary btn-sm mx-4">
          Export
        </button>
      </div>
    </div>

    <div class="database mt-2 ">
      <h3 class="pt-4 dataTitle">
        BlackBoard links voor academiejaar: {{ selectedSchoolYear }}
      </h3>
      <div class="d-flex align-items-center gap-3">
        <select [(ngModel)]="selectedSchoolYear" (change)="selectedSchoolYearChanged()">
          <option *ngFor="let year of selectableDates" [ngValue]="year">
            {{ year }}
          </option>
        </select>
        <button class="btn btn-primary btn-sm" (click)="onGenerateBlackBoardLinksClick()">Genereer</button>
      </div>

      <div *ngIf="blackBoardLinks.length > 0" class="mt-4">
        <p *ngFor="let bbLink of blackBoardLinks; index as i">
          <b>BlackBoard link semester {{ i + 1 }}:</b>
          <span class="link"><span class="linktxt">{{ bbLink }}</span>
            <button class="btn btn-primary btn-sm" (click)="copyLink(bbLink)">
              <mat-icon class="fs-6 d-flex justify-content-center align-items-center linkicon">link</mat-icon>
            </button>
          </span>
        </p>
      </div>
    </div>
    <div class="database mb-2">
      <h3 class="pt-4 dataTitle">
        Studenten CSV sorteren
      </h3>
      <button class="btn btn-primary btn-sm" (click)="dragDropSorting()">
        CSV-file sorteren
      </button>
    </div>
  </div>
</div>

<div class="disable-background" *ngIf="isLoading === true"></div>
<mat-spinner class="spinner" *ngIf="isLoading === true"></mat-spinner>