<ng-template [ngIf]="data.length && dataDonut.length" [ngIfElse]="noData">
  <div class="pt-4 px-4 pb-2 mt-4 mx-4">
    <h2 class="pb-2">Status overzicht stagevoorstellen</h2>
    <div class="row">
      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">poll</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Nieuw</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{nieuw}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">layers</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Bevestigd</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{bevestigd}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">rate_review</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">In Review</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{inReview}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">move_to_inbox</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Review Ontvangen</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{reviewOntvangen}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">sms</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">In Feedback</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{inFeedback}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">beenhere</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Goedgekeurd</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{goedGekeurd}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">sms_failed</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Afgekeurd</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{afGekeurd}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>

      <div class="col-md-3 mb-3">
        <mat-card class="back">
          <div class="d-flex gap-2 justify-content-center mb-4">
            <mat-icon class="d-flex justify-content-center align-items-center">publish</mat-icon>
            <mat-card-subtitle class="d-flex align-items-center m-0 p-0">Gepubliceerd</mat-card-subtitle>
          </div>
          <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{published}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <google-chart [title]="title" [type]="type" [columns]="columnNames" [data]="data" [options]="options"
        [width]="width" [height]="height">
      </google-chart>
      <google-chart [type]="typeDonut" [data]="dataDonut" [options]="optionsDonut" [width]="widthDonut"
        [height]="heightDonut">
        >
      </google-chart>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <ng-container>
    <figure class="d-flex flex-column justify-content-center align-items-center mb-5 overflow-hidden nodata">
      <img src="https://cdn.dribbble.com/users/1753953/screenshots/3818675/media/f59ed80d5c527e2461d8ba49adc36160.gif">
      <figcaption>Helaas, er werd geen data gevonden.</figcaption>
    </figure>
  </ng-container>
</ng-template>