<div class="pt-4 px-4 pb-2 mt-4 mx-4">
  <div class="title row ms-2 me-4 my-2">
    <span class="col-1">
      <button
        (click)="previous()"
        class="btn btn-sm btn-light align-items-center">
        <mat-icon class="fs-6 d-flex justify-content-center align-items-center"
        >chevron_left</mat-icon>
      </button>
    </span>
    <span class="col-8 my-auto mx-auto">
      {{employee.firstName}}&nbsp;{{employee.lastName}}
    </span>
  </div>
  <mat-tab-group class="tab-container ms-2 me-4">
    <mat-tab  label="Algemeen">
      <app-employee-form [employeeFromParent]="employee"></app-employee-form>
    </mat-tab>

    <mat-tab label="Adres">
      <div class="cards-container">
        <p>Adres in toekomst</p>
      </div>
    </mat-tab>

    <mat-tab label="Overeenkomst">
      <div class="cards-container">
        <p>Overeenkomst in toekomst</p>
      </div>
    </mat-tab>



  </mat-tab-group>
</div>





