<div class="pt-4 px-4 pb-2 mt-4 mx-4">
  <div class="title row ms-2 me-4 my-2">
    <span class="col-1">
      <button
        (click)="previous()"
        class="btn btn-sm btn-light align-items-center">
        <mat-icon class="fs-6 d-flex justify-content-center align-items-center"
        >chevron_left</mat-icon>
      </button>
    </span>
    <span class="col-8 my-auto mx-auto">
<!--      {{employee.employee.firstName}}&nbsp;{{employee.employee.lastName}}-->
    </span>
  </div>
  <mat-tab-group class="tab-container ms-2 me-4">
    <mat-tab label="Algemeen">
     <app-employee-form [employeeFromParent]="employeeAddress.employee"></app-employee-form>
    </mat-tab>

    <mat-tab label="Adres">
      <div class="cards-container">

        <div>
          <p>Adres</p>
          <p>{{employeeAddress.address.street}}&nbsp;&nbsp;{{employeeAddress.address.houseNumber}}</p>
          <p>{{employeeAddress.address.zipCode}}&nbsp;&nbsp;{{employeeAddress.address.city}}</p>
          <p>{{employeeAddress.address.country}}</p>
        </div>

      </div>
    </mat-tab>

    <mat-tab label="Overeenkomst">
      <div class="cards-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Overeenkomsten</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <div class="spacer"></div>
            <button
              mat-raised-button
              class="btn btn-sm btn-outline-primary right-button"
              aria-label="Add agreement"
              (click)="onAddAgreement()">
              <mat-icon class="">add</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>
          <table *ngFor="let e of employeeAddress.employee.agreements">
              <tr (click)="onSelect(e)">
              <td>{{e.id}}:&nbsp; {{e.workFunction}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header></mat-card-header>
          <mat-card-content >
            <app-agreement-form [agreementFromParent]="agreement" ></app-agreement-form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>





