<div class="sidenav mat-typography shadow" [ngClass]="isExpanded ? 'expanded' : ''" mode="side">
  <mat-nav-list #navList class="d-flex flex-column justify-content-between h-100 pb-2">
    <div>
      <ng-container *ngFor="let item of navItems">
        <mat-list-item *ngIf="item" [routerLink]="item.route" [routerLinkActive]="['active']" class="nav-item">
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="isExpanded">{{ item.title }}</span>
        </mat-list-item>
      </ng-container>

      <ng-container>
        <mat-divider></mat-divider>
        <mat-list-item class="nav-item" (click)="synchronize()" [disabled]="isLoading">
          <figure [ngClass]="{ rotate: isLoading }" class="d-flex justify-content-center align-items-center m-0">
            <mat-icon mat-list-icon>sync</mat-icon>
          </figure>
          <span *ngIf="isExpanded">Synchroniseren</span>
        </mat-list-item>
      </ng-container>
    </div>

    <mat-list-item class="d-flex justify-content-end align-items-center me-2 toggle" (click)="navBarToggle()"
      *ngIf="isExpanded; else elseBlock">
      <mat-icon mat-list-icon class="fs-5 d-flex justify-content-center align-items-center">fast_rewind</mat-icon>
    </mat-list-item>
    <ng-template #elseBlock>
      <mat-list-item class="d-flex justify-content-center align-items-center me-2 toggle" (click)="navBarToggle()">
        <mat-icon mat-list-icon class="fs-5 d-flex justify-content-center align-items-center">menu</mat-icon>
      </mat-list-item>
    </ng-template>
  </mat-nav-list>
</div>

<div class="disable-background" *ngIf="isLoading === true"></div>
<mat-spinner class="spinner" *ngIf="isLoading === true"></mat-spinner>