<div class="pt-4 px-4 pb-2 mt-4 mx-4">
  <button (click)="previous()" class="btn btn-sm btn-light align-items-center">
    <mat-icon class="fs-6 d-flex justify-content-center align-items-center">chevron_left</mat-icon>
  </button>

  <form [formGroup]="employeeForm"   class="d-flex flex-column gap-2 mx-4 align-items-center">
    <div class="my-4 w-50 pt-2 d-flex justify-content-between align-items-center text-center">
      <h2 class="mt-2">{{ title }}</h2>
    </div>
    <div class="d-flex gap-4 mx-4 my-0 w-50">
      <mat-form-field class="w-50">
        <input matInput placeholder="Voornaam" formControlName="firstName"/>
        <mat-error *ngIf="checkError('firstName', 'required')">Voornaam is een verplicht veld!</mat-error>
      </mat-form-field>
      <mat-form-field class="w-50">
        <input matInput placeholder="Familienaam" formControlName="lastName"/>
        <mat-error *ngIf="checkError('lastName', 'required')">Familienaam is een verplicht veld!</mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex gap-4 mx-4 my-0 w-50">
<!--      <mat-form-field class="w-25" appearance="outline">
        <input matInput placeholder="Geboortedatum" formControlName="birthDate" readonly
               [matDatepicker]="releasedAtPicker"/>
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker" [disabled]="false">
        </mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker [disabled]="false">
        </mat-datepicker>

        <mat-error *ngIf="checkError('birthDate', 'required')">Geboortenaam is een verplicht veld!</mat-error>
      </mat-form-field>-->

      <mat-form-field class="w-75">
        <input matInput placeholder="Rijkregisternummer" formControlName="rrn"/>
        <mat-error *ngIf="checkError('rrn', 'required')">Rijkregisternummer is een verplicht veld!</mat-error>
        <mat-error *ngIf="checkError('rrn', 'maxlength')">Rijkregisternummer moet 11 karakters bevatten!</mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="mx-4 w-50">
      <input matInput placeholder="Email" formControlName="email"/>
      <mat-error *ngIf="checkError('email', 'required')">Email is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('email', 'email')">Ongeldig email formaat!</mat-error>
    </mat-form-field>


    <div class="mx-4 d-flex justify-content-end w-50 gap-2">
      <button (click)="onSubmit()" class="btn btn-primary btn-sm d-flex ms-auto justify-content-center align-items-center" mat-raised-button
              [disabled]="!employeeForm.valid">
        Toevoegen
      </button>

      <button class="btn btn-primary btn-sm justify-content-center align-items-center" mat-raised-button
              (click)="previous()">
        Sluiten
      </button>
    </div>
  </form>
</div>

