<form [formGroup]="studentForm" class="d-flex flex-column gap-2 mx-4 align-items-center">
  <div class="my-4 w-50 pt-2 d-flex justify-content-between align-items-center text-center">
    <h2 class="mt-2">{{ title }}</h2>
    <button class="btn btn-sm btn-outline-danger border-0" (click)="deleteStudent(student)" *ngIf="isVisible">
      <mat-icon class="fs-6 p-1">delete</mat-icon>
    </button>
  </div>
  <div class="d-flex gap-4 mx-4 my-0 w-50">
    <mat-form-field class="w-50">
      <input matInput placeholder="Familienaam" formControlName="lastName" />
      <mat-error *ngIf="checkError('lastName', 'required')">Familienaam is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('lastName', 'maxlength')">Familienaam mag slechts 50 karakters bevatten!</mat-error>
    </mat-form-field>

    <mat-form-field class="w-50">
      <input matInput placeholder="Voornaam" formControlName="firstName" />
      <mat-error *ngIf="checkError('firstName', 'required')">Voornaam is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('firstName', 'maxlength')">Voornaam mag slechts 50 karakters bevatten!</mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex gap-4 mx-4 my-0 w-50">
    <mat-form-field class="w-75">
      <input matInput placeholder="Straat" formControlName="street" />
      <mat-error *ngIf="checkError('street', 'required')">Straat is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('street', 'maxlength')">Straat mag slechts 50 karakters bevatten!</mat-error>
    </mat-form-field>

    <mat-form-field class="w-25">
      <input matInput placeholder="Huisnummer" formControlName="houseNumber" />
      <mat-error *ngIf="checkError('houseNumber', 'required')">Huisnummer is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('houseNumber', 'maxlength')">Huisnummer mag slechts 25 karakters
        bevatten!</mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex gap-4 mx-4 my-0 w-50">
    <mat-form-field class="w-25">
      <input matInput placeholder="Postcode" formControlName="postalCode" />
      <mat-error *ngIf="checkError('postalCode', 'required')">Postcode is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('postalCode', 'maxlength')">Postcode mag slechts 10 karakters bevatten!</mat-error>
    </mat-form-field>

    <mat-form-field class="w-75">
      <input matInput placeholder="Gemeente" formControlName="township" />
      <mat-error *ngIf="checkError('township', 'required')">Gemeente is een verplicht veld!</mat-error>
      <mat-error *ngIf="checkError('township', 'maxlength')">Gemeente mag slechts 50 karakters bevatten!</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="mx-4 w-50">
    <input matInput placeholder="Privé email" formControlName="privateEmail" />
    <mat-error *ngIf="checkError('privateEmail', 'email')">Ongeldig email formaat!</mat-error>
    <mat-error *ngIf="checkError('privateEmail', 'maxlength')">Privé email mag slechts 70 karakters
      bevatten!</mat-error>
  </mat-form-field>

  <mat-form-field class="mx-4 w-50">
    <input matInput placeholder="PXL email" formControlName="email" />
    <mat-error *ngIf="checkError('email', 'required')">PXL email is een verplicht veld!</mat-error>
    <mat-error *ngIf="checkError('email', 'email')">Ongeldig email formaat!</mat-error>
    <mat-error *ngIf="checkError('email', 'maxlength')">PXL email mag slechts 70 karakters bevatten!</mat-error>
  </mat-form-field>

  <mat-form-field class="mx-4 w-50">
    <input matInput placeholder="Telefoonnummer" formControlName="phoneNumber" />
    <mat-error *ngIf="checkError('phoneNumber', 'required')">Telefoonnummer is een verplicht veld!</mat-error>
    <mat-error *ngIf="checkError('phoneNumber', 'maxlength')">Telefoonnummer mag slechts 30 karakters
      bevatten!</mat-error>
  </mat-form-field>

  <mat-checkbox placeholder="ModelTraject" formControlName="modelTraject" class="mx-4 w-50" color="primary"
    labelPosition="before">ModelTraject</mat-checkbox>

  <div class="mx-4 d-flex justify-content-end w-50 gap-2">
    <button class="btn btn-primary btn-sm d-flex ms-auto justify-content-center align-items-center" mat-raised-button
      (click)="onSubmit()" [disabled]="!studentForm.valid">
      {{ buttonText }}
    </button>

    <button class="btn btn-primary btn-sm justify-content-center align-items-center" mat-raised-button
      (click)="goBack()">
      Sluiten
    </button>
  </div>
</form>